<template>
  <div class="bg">
    <EmployeeNavBar />
      <p class="py-5 text-center">
      </p>
      <mdb-container class="my-content">
        <br>
      <h1 class="text-center">
        <mdb-badge color="purple">PAY</mdb-badge> ชำระเงิน G21 Restaurant
      </h1>
      <br />

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <center>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-purple" @click="showModelToggle()">PAY ORDER</button>
      </center>
      <!-- Modal -->
      <mdb-modal :show="showModel" @close="resetPage()" class size="md">
        <mdb-modal-header>
          <h4 class="modal-title" id="myModalLabel">PAY ORDER</h4>
        </mdb-modal-header>
        <mdb-modal-body>
          <div>
            <label for="order">Order</label>
          </div>
          <select
            v-model="payment.orderId"
            class="browser-default customer-select"
            style="width:450px;height:30px"
            @change="()=>getTotalPrice()"
          >
            <option selected value="-1" disabled >--- กรุณาเลือก Order ---</option>
            <!-- รอแก้ใน {{ ... }} -->
            <option v-for="order in orders" :key="order.id" :value="order.id">ID: {{ order.id }} [{{ order.tables.tableType.typeName }}] {{order.tables.tablesName}}</option>
          </select>
          <br />
          <br />
          <div>
            <label for="pay">ช่องทางการชำระเงิน</label>
          </div>
          <select
            v-model="payment.paymentWayId"
            class="browser-default customer-select"
            style="width:450px;height:30px"
          >
            <option selected value="-1" disabled>--- กรุณาเลือกช่องทางการชำระเงิน ---</option>
            <option v-for="paymentWay in paymentWays" :key="paymentWay.id" :value="paymentWay.id" >{{ paymentWay.name }}</option>
          </select>
          <br />
          <br />
          <div>
            <label for="employee">พนักงาน</label>
          </div>
          <select
            v-model="payment.employeeId"
            class="browser-default customer-select"
            style="width:450px;height:30px"
          >
            <option selected value="-1" disabled>--- กรุณาเลือกพนักงาน ---</option>
            <option v-for="employee in employees" :disabled="employee.id != employeeId" :key="employee.id" :value="employee.id" >{{ employee.name }}</option>
          </select>
          
          <br />
          <br />
          <h4 class="text-center">ราคา : {{this.totalPrice}} บาท</h4>
        </mdb-modal-body>
        <mdb-modal-footer>
          <div class="center">
            <button type="button" class="btn btn-danger" @click="resetPage()">Close</button>
            <mdb-btn outline="purple" icon="paper-fas fa-hand-holding-usd" @click="savePayment">Submit</mdb-btn>
          </div>
        </mdb-modal-footer>
      </mdb-modal>

      <br />
      <br />
      <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <hr>
      <div>
        <mdb-tbl>
          <mdb-tbl-head>
            <tr>
              <th>#</th>
              <th>Order</th>
              <th>ชำระผ่านช่องทาง</th>
              <th>รับชำระโดย</th>
              <th>Date</th>
            </tr>
          </mdb-tbl-head>
          <mdb-tbl-body>
            <tr v-for="(payment,index) in payments" :key="index">
              <td>{{payment.id}}</td>
              <td>ID: {{payment.order.id}} [{{ payment.order.tables.tableType.typeName }}] {{payment.order.tables.tablesName}}</td>
              <td>{{payment.paymentWay.name}}</td>
              <td>{{payment.createdBy.name}}</td>
              <td>{{payment.payDate | formatDate}}</td>
            </tr>
          </mdb-tbl-body>
        </mdb-tbl>
      </div>
      <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      </mdb-container>
    </div>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  </div>
</template>

<script>
import http from "../../http-common";
import EmployeeNavBar from "../EmployeeNavbar";
import moment from 'moment';
import {
  mdbNavbar,
  mdbNavbarBrand,
  mdbNavbarToggler,
  mdbNavbarNav,
  mdbNavItem,
  mdbDropdown,
  mdbDropdownMenu,
  mdbDropdownToggle,
  mdbInput,
  mdbDropdownItem,
  mdbFooter,
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbCard,
  mdbCardTitle,
  mdbCardText,
  mdbBtn,
  mdbTbl,
  mdbTblHead,
  mdbTblBody,
  mdbAlert,
  mdbBadge,
  mdbModal,
  mdbModalBody,
  mdbModalHeader,
  mdbModalFooter
} from "mdbvue";
export default {
  name: "Payment",
  components: {
    EmployeeNavBar,
    mdbModal,
    mdbModalBody,
    mdbModalHeader,
    mdbModalFooter,
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbNavbarNav,
    mdbNavItem,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbDropdownItem,
    mdbInput,
    mdbFooter,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardTitle,
    mdbCardText,
    mdbBtn,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbAlert,
    mdbBadge
  },
  data() {
    return {
      payment: {
        orderId: "-1",
        employeeId: "-1",
        paymentWayId: "-1",
        
      },
      totalPrice: 0,
      // update หลังจากได้ระบบ login แล้ว
      employeeId: 0,
      showModel: false,
      orders: {},
      paymentWays: {},
      employees: {},
      payments: []
    };
  },
  updated() {
    
  },
  created() {
    this.getOrders();
    this.getPaymentWays();
    this.getEmployees();
    this.getPayments();
    this.employeeId = this.$session.get('account').employee.id;
  },
  methods: {
    showModelToggle: function() {
      console.log("btn click");
      this.filterOrders();
      this.showModel = !this.showModel;
    },
    getTotalPrice(){
      let sumPrice = 0;
      let order = this.orders.filter(({id})=>id == this.payment.orderId ? true : false);
      order[0].menuOrders.forEach(({menu})=>{
        sumPrice += menu.menuPrice;
      });
      this.totalPrice = sumPrice;
    },
    // ดึงข้อมูล Order ใส่ combobox
    getOrders() {
      http
        .get("/order")
        .then(response => {
          // while (response.orderId != payment.orderId) {
            this.orders = response.data;
            console.log(this.orders);
            this.$nextTick();
          // }
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ดึงข้อมูล PaymentWay ใส่ combobox
    getPaymentWays() {
      http
        .get("/paymentWay")
        .then(response => {
          this.paymentWays = response.data;
          this.$nextTick();
        })
        .catch(e => {
          console.log(e);
        });
    },
    // ดึงข้อมูล Payments ใส่ table
    getPayments() {
      http
        .get("/payment")
        .then(response => {
          console.log(response.data);
          this.payments = response.data;
          this.$nextTick();
        })
        .catch(e => {
          console.log(e);
        });
    },
    filterOrders(){
      this.orders = this.orders.filter(({id})=>{
        let find = false;
        this.payments.forEach(payment => {
          console.log(payment.order.id +" and "+id);
          if(payment.order.id == id){
            find = true;
          }
        });
        return find ? false:true;
      });
    },
    // ดึงข้อมูล Employee ใส่ combobox
    getEmployees() {
      http
        .get("/employee")
        .then(response => {
          this.employees = response.data;
          this.$nextTick();
        })
        .catch(e => {
          console.log(e);
        });
    },
    // save ข้อมูลลงในตาราง Payment
    savePayment() {
      let currentObj = this;
      if (
        (this.payment.orderId == "-1") |
        (this.payment.employeeId == "-1") |
        (this.payment.paymentWayId == "-1")
      ) {
        alert("กรุณากรอกข้อมูลให้ครบ");
      } else {
        http
          .post(
            // แปลงจากพี่
            "/payment/" +
              this.payment.orderId +
              "/" +
              this.payment.paymentWayId +
              "/" +
              this.payment.employeeId
          )
          .then(function(response) {
            // <div v-if >
            // </div>
            console.log(response);
            alert("บันทึกสำเร็จ ขอบคุณครับ/ค่ะ");
            currentObj.resetPage();
            // currentObj.resetForm();
          })
          .catch(function(error) {
            alert("เกิดข้อผิดพลาด " + error);
            console.log(error);
          });
      }
    },
    // รีโหลดหน้าใหม่
    resetPage() {
      this.payment = {
        orderId: "-1",
        employeeId: "-1",
        paymentWayId: "-1"
      };
      this.showModel = false;
      this.getPayments();
    }
  },
  filters:{
    formatDate: function(value) {
      if (value) {
        //return moment(String(value)).fromNow();
        return moment(String(value)).format('DD/MM/YYYY hh:mm a');
        //return moment(String(value),"from","now")
      }
    }
  }
};
</script>


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>

<style>
body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/190710135245-12-waterfront-restaurants.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.my-content{
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding-bottom: 20px;
}
.center {
  margin: auto;
}
</style>
