<template>
  <div>
    <mdb-navbar class="nav-bg ">
      <mdb-navbar-brand @click="this.$router.push({name:'EmployeeMenu'})" class="my-header pl-3">
        หมายเลขพนักงาน {{account.employee.id}} {{account.employee.name}}
      </mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav>
          <mdb-nav-item href="#/EmployeeMenu" class="navbtn">หน้าแรก</mdb-nav-item>
          <mdb-nav-item href="#/MenuDesign" class="navbtn">ออกแบบเมนู</mdb-nav-item>
          <mdb-nav-item href="#/Menu" class="navbtn">เพิ่มเมนู</mdb-nav-item>
          <mdb-nav-item href="#/Order" class="navbtn">รับออเดอร์</mdb-nav-item>
          <mdb-nav-item href="#/Payment" class="navbtn">ชำระเงิน</mdb-nav-item>
          <mdb-nav-item class="my-btn" @click="this.logout">ออกจากระบบ</mdb-nav-item>
          <!-- <mdb-dropdown tag="li" class="nav-item">
            <mdb-dropdown-toggle tag="a" navLink color="secondary-color-dark" slot="toggle" waves-fixed>ผู้ดูแลระบบ</mdb-dropdown-toggle>
            <mdb-dropdown-menu>
              <mdb-dropdown-item href="#/Employee">เพิ่มพนักงาน</mdb-dropdown-item>
              <mdb-dropdown-item href="#/Review">กรอกรีวิว</mdb-dropdown-item>
            </mdb-dropdown-menu>
          </mdb-dropdown> -->
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
  </div>
</template>

<script>
import { mdbNavbar, mdbContainer, mdbNavbarBrand, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbDropdown, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbDropdownItem } from 'mdbvue';

export default {
  name: 'EmployeeNavbar',
  components: {
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbNavbarNav,
    mdbNavItem,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbDropdownItem,
    mdbInput,
    mdbContainer
  },
  data(){
    return({
      account:{
        employee:{
          id:0,
          name:null
        }
      }
    })
  },
  beforeMount(){
    if(this.$session.get('account') != null){
      console.log("session");
      console.log(this.$session.get('account'));
      if(this.$session.get('account').userPriority.id != 2){
        this.$router.push({name:'LoginEmployee'});
      }else{
        console.log(this.$session.get('account'));
        this.account = this.$session.get('account');
      }
    }else{
      this.$router.push({name:'LoginEmployee'});
    }
  },
  methods:{
    logout(){
      this.$session.destroy();
      this.$router.push({name:'LoginEmployee'});
    }
  }
}
</script>

<style>
  .nav-bg{
    z-index: 5;
    background-color: rgba(252, 248, 248, 0.705);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .my-btn{
    background-color: red;
    border-radius: 10px;
    color:white;
    position: absolute;
    right: 20px;
  }
  .my-header{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:gray;
    margin-right: 10px;
  }
  .navbtn{
    border-left: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-color: lightgray;
    border-style: solid;
  }
</style>
