<template>
  <div>
    <mdb-navbar class="nav-bg ">
      <mdb-navbar-brand class="my-header pl-3">
        หมายเลขเจ้าของร้าน {{account.employee.id}} {{account.employee.name}}
      </mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav>
          <mdb-nav-item href="#/OwnerMenu" class="navbtn">หน้าแรก</mdb-nav-item>
          <mdb-nav-item href="#/Tables" class="navbtn">เพิ่มโต๊ะ</mdb-nav-item>
          <mdb-nav-item href="#/Employee" class="navbtn">จัดการพนักงาน</mdb-nav-item>
          <mdb-nav-item class="my-btn" @click="this.logout">ออกจากระบบ</mdb-nav-item>
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
  </div>
</template>

<script>
import { mdbNavbar, mdbContainer, mdbNavbarBrand, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbDropdown, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbDropdownItem } from 'mdbvue';

export default {
  name: 'OwnerNavbar',
  components: {
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbNavbarNav,
    mdbNavItem,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbDropdownItem,
    mdbInput,
    mdbContainer
  },
  data(){
    return({
      account:{
        employee:{
          id:0,
          name:null
        }
      }
    })
  },
  beforeMount(){
    if(this.$session.get('account') != null){
      console.log(this.$session.get('account'));
      if(this.$session.get('account').userPriority.id != 1){
        this.$router.push({name:'LoginOwner'});
      }else{
        console.log(this.$session.get('account'));
        this.account = this.$session.get('account');
      }
    }else{
      this.$router.push({name:'LoginOwner'});
    }
  },
  methods:{
    logout(){
      this.$session.destroy();
      this.$router.push({name:'LoginOwner'});
    }
  }
}
</script>

<style>
  .nav-bg{
    z-index: 5;
    background-color: rgba(252, 248, 248, 0.705);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .my-btn{
    background-color: red;
    border-radius: 10px;
    color:white;
    position: absolute;
    right: 20px;
  }
  .my-header{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:gray;
    margin-right: 10px;
  }
  .navbtn{
    border-left: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-color: lightgray;
    border-style: solid;
  }
</style>
